http_interactions:
- request:
    method: get
    uri: https://recology.info/
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      cache-status: '"Netlify Edge"; hit'
      content-type: text/html; charset=UTF-8
      etag: '"562a2f324df7e5848bfc502d9b1270dd-ssl-df"'
      x-nf-request-id: 01J2KTE3YWF84G08W2GDZ4RF5J
    body:
      encoding: ''
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"auto\">\n\n<head>\n\t<meta
        name=\"generator\" content=\"Hugo 0.123.8\"><meta charset=\"utf-8\">\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n<meta
        name=\"robots\" content=\"index, follow\">\n<title>Recology</title>\n\n<meta
        name=\"description\" content=\"\">\n<meta name=\"author\" content=\"\">\n<link
        rel=\"canonical\" href=\"https://recology.info/\">\n<link crossorigin=\"anonymous\"
        href=\"/assets/css/stylesheet.f4cda22486791d430ef692108ba33a982c3c552eca57e99456bb55aa4bd22568.css\"
        integrity=\"sha256-9M2iJIZ5HUMO9pIQi6M6mCw8VS7KV&#43;mUVrtVqkvSJWg=\" rel=\"preload
        stylesheet\" as=\"style\">\n<link rel=\"icon\" href=\"https://recology.info/favicon.ico\">\n<link
        rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://recology.info/favicon-16x16.png\">\n<link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://recology.info/favicon-32x32.png\">\n<link
        rel=\"apple-touch-icon\" href=\"https://recology.info/apple-touch-icon.png\">\n<link
        rel=\"mask-icon\" href=\"https://recology.info/safari-pinned-tab.svg\">\n<meta
        name=\"theme-color\" content=\"#2e2e33\">\n<meta name=\"msapplication-TileColor\"
        content=\"#2e2e33\">\n<link rel=\"alternate\" type=\"application/rss+xml\"
        href=\"https://recology.info/index.xml\">\n<link rel=\"alternate\" type=\"application/json\"
        href=\"https://recology.info/index.json\">\n<link rel=\"alternate\" hreflang=\"en\"
        href=\"https://recology.info/\">\n<noscript>\n    <style>\n        #theme-toggle,\n
        \       .top-link {\n            display: none;\n        }\n\n    </style>\n
        \   <style>\n        @media (prefers-color-scheme: dark) {\n            :root
        {\n                --theme: rgb(29, 30, 32);\n                --entry: rgb(46,
        46, 51);\n                --primary: rgb(218, 218, 219);\n                --secondary:
        rgb(155, 156, 157);\n                --tertiary: rgb(65, 66, 68);\n                --content:
        rgb(196, 1[...]
