http_interactions:
- request:
    method: get
    uri: https://scottchamberlain.info/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      cache-status: '"Netlify Edge"; hit'
      content-type: text/html; charset=UTF-8
      etag: '"b2eb3ec0ae93f146611fb0ecba4de49a-ssl-df"'
      x-nf-request-id: 01HMAAW7XMQNP6DXRB2WNWE2G5
    body:
      encoding: ''
      file: no
      string: "<!doctype html>\n<!--\n  Minimal Mistakes Jekyll Theme 4.24.0 by Michael
        Rose\n  Copyright 2013-2020 Michael Rose - mademistakes.com | @mmistakes\n
        \ Free for personal and commercial use under the MIT license\n  https://github.com/mmistakes/minimal-mistakes/blob/master/LICENSE\n-->\n<html
        lang=\"en\" class=\"no-js\">\n  <head>\n    <meta charset=\"utf-8\">\n\n<!--
        begin _includes/seo.html --><title>About me - Scott Chamberlain</title>\n<meta
        name=\"description\" content=\"\">\n\n\n\n<meta property=\"og:type\" content=\"website\">\n<meta
        property=\"og:locale\" content=\"en_US\">\n<meta property=\"og:site_name\"
        content=\"Scott Chamberlain\">\n<meta property=\"og:title\" content=\"About
        me\">\n<meta property=\"og:url\" content=\"http://localhost:4000/\">\n\n\n\n\n\n\n\n\n\n\n\n\n\n<link
        rel=\"canonical\" href=\"http://localhost:4000/\">\n\n\n\n\n<script type=\"application/ld+json\">\n
        \ {\n    \"@context\": \"https://schema.org\",\n    \n      \"@type\": \"Person\",\n
        \     \"name\": null,\n      \"url\": \"http://localhost:4000/\"\n    \n  }\n</script>\n\n\n\n\n\n\n\n<!--
        end _includes/seo.html -->\n\n\n\n  <link href=\"/feed.xml\" type=\"application/atom+xml\"
        rel=\"alternate\" title=\"Scott Chamberlain Feed\">\n\n\n<!-- https://t.co/dKP3o1e
        -->\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<script>\n
        \ document.documentElement.className = document.documentElement.className.replace(/\\bno-js\\b/g,
        '') + ' js ';\n</script>\n\n<!-- For all browsers -->\n<link rel=\"stylesheet\"
        href=\"/assets/css/main.css\">\n<link rel=\"preload\" href=\"https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css\"
        as=\"style\" onload=\"this.onload=null;this.rel='stylesheet'\">\n<noscript><link
        rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css\"></noscript>\n\n\n\n
        \   <head>\n  <!-- Icons -->\n  <link rel=\"apple-touch-icon-precomposed\"
        sizes=\"144x144\" href=\"/public/apple-touch-icon-144-precomposed.png\">\n
        \ <link href=\"//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css\"
        rel=\"stylesheet\">\n\n  <!-- mastodon verification -->\n  <a rel=\"me\" href=\"https://fosstodon.org/@sckottie\">&nbsp;</a>\n</head>\n\n
        \ </head>\n\n  <body class=\"layout--home\">\n    <nav class=\"skip-links\">\n
        \ <ul>\n    <li><a href=\"#site-nav\" class=\"screen-reader-shortcut\">Skip
        to primary navigation</a></li>\n    <li><a href=\"#main\" class=\"screen-reader-shortcut\">Skip
        to content</a></li>\n    <li><a href=\"#footer\" class=\"screen-reader-shortcut\">Skip
        to footer</a></li>\n  </ul>\n</nav>\n\n    \n\n<div class=\"masthead\">\n
        \ <div class=\"masthead__inner-wrap\">\n    <div class=\"masthead__menu\">\n
        \     <nav id=\"site-nav\" class=\"greedy-nav\">\n        \n        <a class=\"site-title\"
        href=\"/\">\n          Scott Chamberlain\n          \n        </a>\n        <ul
        class=\"visible-links\"></ul>\n        \n        <button class=\"greedy-nav__toggle
        hidden\" type=\"button\">\n          <span class=\"visually-hidden\">Toggle
        menu</span>\n          <div class=\"navicon\"></div>\n        </button>\n
        \       <ul class=\"hidden-links hidden\"></ul>\n      </nav>\n    </div>\n
        \ </div>\n</div>\n\n\n    <div class=\"initial-content\">\n      \n\n\n\n<div
        id=\"main\" role=\"main\">\n  \n  <div class=\"sidebar sticky\">\n  \n\n\n<div
        itemscope itemtype=\"https://schema.org/Person\" class=\"h-card\">\n\n  \n
        \   <div class=\"author__avatar\">\n      <!-- <a href=\"http://localhost:4000/\">
        -->\n        <img src=\"/img/main-social-headshot.jpeg\" alt=\"\" itemprop=\"image\"
        class=\"u-photo\">\n      <!-- </a> -->\n    </div>\n  \n\n  <div class=\"author__content\">\n
        \   <h3 class=\"author__name p-name\" itemprop=\"name\">\n      <a class=\"u-url\"
        rel=\"me\" href=\"http://localhost:4000/\" itemprop=\"url\"></a>\n    </h3>\n
        \   \n  </div>\n\n  <div class=\"author__urls-wrapper\">\n    <!-- <button
        class=\"btn btn--inverse\">Follow</button> -->\n    <ul class=\"author__urls
        social-icons\">\n      \n\n      \n\n      \n\n      \n\n      \n\n      \n\n
        \     \n\n      \n\n      \n\n      \n\n      \n\n      \n\n      \n\n      \n\n
        \     \n\n      \n\n      \n\n      \n\n      \n\n      \n\n      \n\n      \n\n
        \     \n\n      \n\n      \n\n      \n\n      <!--\n  <li>\n    <a href=\"http://link-to-whatever-social-network.com/user/\"
        itemprop=\"sameAs\" rel=\"nofollow noopener noreferrer me\">\n      <i class=\"fas
        fa-fw\" aria-hidden=\"true\"></i> Custom Social Profile Link\n    </a>\n  </li>\n-->\n
        \   </ul>\n  </div>\n</div>\n\n  \n  </div>\n\n\n\n  <div class=\"archive\">\n
        \   \n      <h1 id=\"page-title\" class=\"page__title\">About me</h1>\n    \n
        \   <p>I’m a Software Engineer with the <a href=\"https://hutchdatascience.org/\"
        target=\"_blank\">Fred Hutch Data Science Lab</a>. My last role was as a Senior
        Data Engineer with <a href=\"https://welcome.deck.tools/\" target=\"_blank\">Deck</a>.
        Prior to Deck I worked with  <a href=\"https://ourresearch.org/\" target=\"_blank\">OurResearch</a>
        as the product owner/developer on <a href=\"https://unsub.org\" target=\"_blank\">Unsub</a>,
        a web application helping research librarians unsubscribe from paywalled journals.
        Before that, I was co-founder of <a href=\"https://ropensci.org/\" target=\"_blank\">rOpenSci</a>,
        a non-profit creating open source tools in <a href=\"https://www.r-project.org/\"
        target=\"_blank\">R</a>. My first professional role was as postdoctoral scholar
        at <a href=\"https://www.sfu.ca/\" target=\"_blank\">Simon Fraser University</a>
        in Canada.</p>\n\n<p>Previously, I received my M.A. &amp; Ph.D. at <a href=\"https://biosciences.rice.edu/\"
        target=\"_blank\">Rice University</a>. There I studied a range of topics,
        including: ant-plant interactions, pollination, population and community ecology,
        species interaction networks, and evolutionary ecology.</p>\n\n<hr />\n\n<!--
        [Software](/software) -->\n\n<p><a href=\"/software\" class=\"btn btn--info\">Software</a>\n<a
        href=\"/webservices\" class=\"btn btn--info\">Web Services</a>\n<a href=\"/publications\"
        class=\"btn btn--info\">Publications</a>\n<a href=\"/talks\" class=\"btn btn--info\">Talks</a>\n<a
        href=\"/vita\" class=\"btn btn--info\">Vita</a>\n<a href=\"/books\" class=\"btn
        btn--info\">Books</a>\n<a href=\"https://recology.info\" class=\"btn btn--info\">Blog
        <i class=\"fa fa-external-link-square\" aria-hidden=\"true\"></i></a>\n<a
        href=\"https://rforcats.net\" class=\"btn btn--info\">R for cats <i class=\"fa
        fa-external-link-square\" aria-hidden=\"true\"></i></a></p>\n\n\n\n<h3 class=\"archive__subtitle\">Recent
        Posts</h3>\n\n\n\n\n<div class=\"entries-list\">\n  \n</div>\n\n\n\n\n<style
        type=\"text/css\">\n  .layout--home .archive__subtitle {\n    display: none;\n
        \ }  \n  #footer wrap{\n    visibility : hidden;\n  }\n</style>\n\n  </div>\n</div>\n
        \   </div>\n\n    \n\n    <div id=\"footer\" class=\"page__footer\">\n      <footer>\n
        \       <!-- start custom footer snippets -->\n\n\n\n<!-- end custom footer
        snippets -->\n\n        <div class=\"page__footer-follow\">\n  <ul class=\"social-icons\">\n
        \   \n\n    \n\n    <!-- \n      <li><a href=\"/feed.xml\"><i class=\"fas
        fa-fw fa-rss-square\" aria-hidden=\"true\"></i> Feed</a></li>\n     -->\n
        \ </ul>\n</div>\n\n<div class=\"page__footer-copyright\">&copy; 2023 Scott
        Chamberlain. Powered by <a href=\"https://jekyllrb.com\" rel=\"nofollow\">Jekyll</a>
        &amp; <a href=\"https://mademistakes.com/work/minimal-mistakes-jekyll-theme/\"
        rel=\"nofollow\">Minimal Mistakes</a>.</div>\n\n      </footer>\n    </div>\n\n
        \   \n  <script src=\"/assets/js/main.min.js\"></script>\n\n\n\n\n\n\n\n\n\n\n
        \ </body>\n</html>\n"
  recorded_at: 2024-01-16 23:49:32 GMT
  recorded_with: vcr/1.2.2.93, webmockr/0.9.0
